<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/blog/">Blog</a>
        <a href="{{ base_path }}/news/">News</a>
        <a href="{{ base_path }}/contact/">Contact</a>
        <a href="{{ base_path }}/about/">About</a>
    </span>
</section>
</nav>

<main>
{{ content }}

<!--<button type="button" id="commentsButton">Show comments</button> -->

<a href="linkhref.html" id="commentsButton">Show comments</a>

<script type="text/javascript" async></script> 
    
    var cbutton = document.getElementById('commentsButton');

    cbutton.onClick = function () { 
        var script = document.createElement("script"); 
        script.type = "text/javascript";
        script.src = "https://utteranc.es/client.js";
        script.repo = "kgashok/makesite";
        script.issue-term = "pathname";
        script.label= "comments";
        script.theme="github-light";
        script.crossorigin="anonymous";
        document.getElementByTagName("main")[0].appendChild(script);
        return true;
    }

</script>


</main>

<footer>
<section>
<p>&copy; {{ current_year }} Ashok Be</p>
<p>
    <a href="https://twitter.com/lifebalance" target="_blank">Twitter</a>
    <a href="https://github.com/kgashok/makesite" target="_blank">GitHub</a>
</p>
</section>
</footer>

</body>
</html>
