<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">

</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/blog/">Blog</a>
        <a href="{{ base_path }}/news/">News</a>
        <a href="{{ base_path }}/contact/">Contact</a>
        <a href="{{ base_path }}/about/">About</a>
    </span>
</section>
</nav>

<main>
{{ content }}

<button type="button" onclick="showComments()">Show comments</button>


<details>
    <summary>Show comments</summary>
  
    <script src="https://utteranc.es/client.js"
            repo="[ENTER REPO HERE]"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
</details>

<!--
<script src="https://utteranc.es/client.js" id="utter"
    repo="kgashok/makesite"
    issue-term="pathname"
    label="comments"
    theme="github-light"
    crossorigin="anonymous"
    async>  
</script>

<script type="text/javascript">
    function showComments () { 
        var s = document.getElementsByTagName("utter");
        console.log(s);
        eval(s.innerText);
        /*var scripts = document.getElementsByTagName("script");
        console.log(scripts);
        for (s of scripts) { 
            console.log(s.type, s);
            if (s.id !== "utter") {
                eval(s.innerText);
            }
        } */ 
    }
</script>
-->

</main>

<footer>
<section>
<p>&copy; {{ current_year }} Ashok Be</p>
<p>
    <a href="https://twitter.com/lifebalance" target="_blank">Twitter</a>
    <a href="https://github.com/kgashok/makesite" target="_blank">GitHub</a>
</p>
</section>
</footer>

</body>
</html>
